@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

body {
  font-family: Bricolage Grotesque;
}
* {
  font-family: Helvetica;
}
.Homeimg {
  background-image: url("../src/assets/Heroimg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.Attendeeimg {
  background-image: url("../src/assets/AboutHeroimg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.Organizerimg {
  background-image: url("../src/assets/ContactHeroimg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.Loading {
  background-image: url("../src/assets/image-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.Blend-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
/* Fix for Leaflet icons */
.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-marker-icon {
  margin-left: -12px !important;
  margin-top: -41px !important;
}

.leaflet-popup {
  position: absolute;
  text-align: center;
}

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 8px;
}